---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostsList from "../../components/lists/PostsList.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = [...new Set(posts.map((post) => post.data.tags).flat())];
  return tags.map((tag) => ({
    params: { tag: tag },
  }));
}

const { tag: t } = Astro.params;

const posts = (await getCollection("blog"))
  .filter((post) => post.data.tags.includes(`${t}`))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const tech: string = t!.charAt(0).toUpperCase() + t!.slice(1).toLowerCase()
---

<BaseLayout title={`Artigos sobre ${tech}`} description={`Aprofunde-se em tutoriais, dicas e insights sobre ${tech} para aprimorar suas habilidades e conhecimentos. Acompanhe aqui tudo sobre ${tech}.`}>
  <h1 class="text-black pb-10 uppercase font-black text-4xl">
    {`${t}`}
  </h1>
  <PostsList posts={posts} />
</BaseLayout>
